<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/pet_icon.png" alt="Pet Icon" class="icono-pet" />
      PetCitas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <swiper-container
    class="banners"
    [initialSlide]="2"
    [slidesPerView]="2.4"
    [spaceBetween]="1"
    [loop]="true"
    [centeredSlides]="true"
    >
    <swiper-slide *ngFor="let dog of dogs">
      <ion-card>
        <img [src]="dog.url" alt="A dog">
        <p>{{dog.nombre}}</p>
      </ion-card>
    </swiper-slide>
    <swiper-slide *ngFor="let img of dogImgs">
      <ion-card>
        <img [src]="img" alt="A dog">
        <p>{{dogNames[dogImgs.indexOf(img)]}}</p>
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-thumbnail>
            <img src="https://www.svgrepo.com/show/495577/pet.svg" alt="pet">
          </ion-thumbnail>
          <p class="short-text">Agrega a tu mascota a la lista de mascotas fácilmente. Solo haz clic en el botón "Agregar Mascota".</p>
          <h2 class="long-text">Agregar una Mascota a la Lista de Mascotas</h2>
          <ul class="long-text">
            <li><strong>Proceso Sencillo:</strong> Agregar una mascota a tu lista es fácil y directo.</li>
            <li><strong>Botón Agregar Mascota:</strong> Haz clic en el botón "Agregar Mascota" para abrir un formulario.</li>
            <li><strong>Ingreso de Detalles:</strong> Introduce el nombre, raza, edad y notas especiales de tu mascota.</li>
            <li><strong>Subida de Foto:</strong> Sube una foto para completar el perfil de tu mascota.</li>
            <li><strong>Almacenamiento Seguro:</strong> La información se guarda de manera segura y es accesible en cualquier momento.</li>
            <li><strong>Detalles Personalizados:</strong> Añade registros de vacunación y preferencias dietéticas.</li>
            <li><strong>Rápido e Intuitivo:</strong> El proceso está diseñado para ser rápido y fácil.</li>
            <li><strong>Gestión Organizada:</strong> Mantiene toda la información de tu mascota organizada en un solo lugar.</li>
          </ul>
          <ion-button (click)="navigateToCitas()">
            <ion-icon name="add-outline"></ion-icon>
            Agregar
          </ion-button>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-thumbnail>
            <img src="https://www.svgrepo.com/show/442056/appointment-new-symbolic.svg" alt="appointment">
          </ion-thumbnail>
          <p class="short-text">Programa una cita para tu mascota en segundos. Elige la fecha y hora que mejor te convenga.</p>
          <h2 class="long-text">Reservar una Cita para Tu Mascota</h2>
          <ul class="long-text">
            <li><strong>Rápido y Simple:</strong> Reservar una cita es rápido y se ajusta a tu agenda.</li>
            <li><strong>Seleccionar Tipo de Cita:</strong> Elige entre chequeos de rutina, peluquería o visitas especializadas.</li>
            <li><strong>Fecha y Hora:</strong> Escoge una fecha y hora conveniente para la cita.</li>
            <li><strong>Proveedor Preferido:</strong> Opción para seleccionar tu veterinario o proveedor de servicios preferido.</li>
            <li><strong>Ahorro de Tiempo:</strong> El proceso simplificado ahorra tiempo y facilita la gestión del cuidado.</li>
            <li><strong>Recordatorios y Notificaciones:</strong> Recibe recordatorios para no perderte ninguna cita.</li>
            <li><strong>Vista de Calendario:</strong> Administra todas las citas próximas en una vista de calendario dedicada.</li>
            <li><strong>Reprogramación Fácil:</strong> Simple para reprogramar o cancelar si cambian los planes.</li>
          </ul>
          <ion-button id="open-modal1" expand="block">
            <ion-icon name="add-outline"></ion-icon>
            Agendar
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-thumbnail>
            <img src="https://www.svgrepo.com/show/502608/delete-2.svg" alt="deletion">
          </ion-thumbnail>
          <p class="short-text">Elimina fácilmente una cita del horario de tu mascota. El listado se actualizará automáticamente.</p>
          <h2 class="long-text">Eliminar una Cita</h2>
          <ul class="long-text">
            <li><strong>Acceso Fácil:</strong> Localiza la cita que deseas eliminar del horario de tu mascota.</li>
            <li><strong>Paso de Confirmación:</strong> Aparecerá un mensaje de confirmación para evitar eliminaciones accidentales.</li>
            <li><strong>Eliminación Inmediata:</strong> Una vez confirmada, la cita se elimina instantáneamente del horario.</li>
            <li><strong>Actualización de Notificaciones:</strong> Las notificaciones relacionadas con la cita se cancelan automáticamente.</li>
            <li><strong>Sincronización del Calendario:</strong> La vista del calendario se actualiza automáticamente, reflejando el cambio.</li>
            <li><strong>Opción de Deshacer:</strong> Una opción de deshacer está disponible por un breve período en caso de errores.</li>
          </ul>
          <ion-button id="open-modal2" expand="block">
            <ion-icon name="trash-outline"></ion-icon>
            Eliminar
          </ion-button>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-thumbnail>
            <img src="https://www.svgrepo.com/show/272773/route-start.svg" alt="soon">
          </ion-thumbnail>
          <p class="short-text">Pronto podrás rastrear las actividades de tu mascota y configurar notificaciones personalizadas.</p>
          <h2 class="long-text">Próximas Funcionalidades a Implementar</h2>
          <div class="long-text, cards">
            <ion-card class="long-text">
              <img [src]="soonDog.url" alt="A dog" class="banners, soon">
              <p>{{soonDog.nombre}}</p>
            </ion-card>
            <ion-card class="long-text">
              <img [src]="soonDog.url" alt="A dog" class="banners, soon">
              <p>{{soonDog.nombre}}</p>
            </ion-card>
            <ion-card class="long-text">
              <img [src]="soonDog.url" alt="A dog" class="banners, soon">
              <p>{{soonDog.nombre}}</p>
            </ion-card>
            <ion-card class="long-text">
              <img [src]="soonDog.url" alt="A dog" class="banners, soon">
              <p>{{soonDog.nombre}}</p>
            </ion-card>
          </div>
          <ion-button>
            <ion-icon name="add-outline"></ion-icon>
            Soon
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-modal
    #modal
    trigger="open-modal1"
    [enterAnimation]="enterAnimation"
    [leaveAnimation]="leaveAnimation"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Agregar Cita</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <form [formGroup]="formularioCitas" (ngSubmit)="onSubmit()">
          <ion-card>
            <ion-item>
              <ion-label position="floating">Mascota</ion-label>
              <ion-select
                aria-label="mascotas"
                placeholder="Selecciona una mascota"
                [(ngModel)]="formularioCitas.controls['mascota'].value"
                [ngModelOptions]="{standalone: true}"
              >
                <ion-select-option
                  *ngFor="let mascota of mascotas"
                  [value]="mascota"
                  >{{ mascota.nombre }}</ion-select-option
                >
              </ion-select>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label position="floating">Motivo</ion-label><br />
              <ion-input formControlName="motivo"></ion-input>
              <ion-label
                position="floating"
                *ngIf="formularioCitas.controls['motivo'].touched && formularioCitas.controls['motivo'].invalid"
                >Requerido</ion-label
              ><br /><br />
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-datetime
                displayFormat="MM/DD/YYYYHH:mm"
                pickerFormat="MM/DD/YYYYHH:mm"
                [preferWheel]="true"
                formControlName="fecha"
                [min]="defaultDate"
              >
                <span slot="title" color="gray">Fecha y Hora</span>
                <ion-label
                  position="floating"
                  *ngIf="formularioCitas.controls['fecha'].touched && formularioCitas.controls['fecha'].invalid"
                  >Requerido</ion-label
                ><br /><br />
              </ion-datetime>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label position="floating">Lugar</ion-label><br />
              <ion-input formControlName="lugar"></ion-input>
              <ion-label
                position="floating"
                *ngIf="formularioCitas.controls['lugar'].touched && formularioCitas.controls['lugar'].invalid"
                >Requerido</ion-label
              ><br /><br />
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-item>
              <ion-label position="floating">Veterinario</ion-label><br />
              <ion-input formControlName="veterinario"></ion-input>
              <ion-label
                position="floating"
                *ngIf="formularioCitas.controls['veterinario'].touched && formularioCitas.controls['veterinario'].invalid"
                >Requerido</ion-label
              ><br /><br />
            </ion-item>
          </ion-card>

          <ion-button
            id="formularioEnviado"
            expand="full"
            type="submit"
            [disabled]="formularioCitas.invalid"
            (click)="modal.dismiss()"
            >Agendar Cita</ion-button
          >
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal
  #modal2
  trigger="open-modal2"
  [enterAnimation]="enterAnimation"
  [leaveAnimation]="leaveAnimation"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Eliminar Cita</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal2.dismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form [formGroup]="eliminarCita" (ngSubmit)="deleteAppointment()">
        <ion-card>
          <ion-item *ngIf="!loading">
            <ion-label position="floating">Mascota</ion-label>
            <ion-select
              aria-label="mascotas"
              placeholder="Selecciona una mascota"
              [(ngModel)]="eliminarCita.controls['mascota'].value"
              [ngModelOptions]="{standalone: true}"
              (ionChange)="onPetChange($event)"
            >
              <ion-select-option
                *ngFor="let mascota of mascotas"
                [value]="mascota"
                >{{ mascota.nombre }}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item *ngIf="loading">
            <ion-label>Cargando Mascotas...</ion-label>
          </ion-item>
        </ion-card>
        <div *ngIf="mascotaSeleccionada.citas && mascotaSeleccionada.citas.length > 0">
          <ion-radio-group formControlName="cita">
            <ion-list>
              <ion-item *ngFor="let cita of mascotaSeleccionada.citas">
                <ion-radio [value]="cita"></ion-radio>
                <ion-label>
                  <h2>{{ cita.fecha }}</h2>
                  <p>{{ cita.motivo }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-radio-group>
      </div>
        <ion-button
          id="formularioEnviado1"
          expand="full"
          type="submit"
          [disabled]="eliminarCita.invalid"
          (click)="modal2.dismiss()"
          >Eliminar Cita</ion-button
        >
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
</ion-content>
