ion-content {
  --background: #e8f8f5;
  padding: 16px;
}

.icono-pet {
  width: 24px;
  height: 24px;
  margin-right: 8px; /* Espacio entre la imagen y el texto */
  vertical-align: middle; /* Alinea verticalmente la imagen con el texto */
}

ion-card {
  --background: #a2d9ce;
  color: #ffffff;
  margin-bottom: 20px;
}

ion-card-title,
ion-label h2,
ion-label p {
  color: black;
}

ion-item {
  --background: white;
}

ion-avatar {
  width: 60px;
  height: 60px;
}

ion-label h2 {
  font-weight: bold;
  margin: 0;
}

ion-label p {
  margin: 0;
}

ion-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  --background: #45b39d;
  --color: #ffffff;
}

ion-title {
  text-align: center;
  width: 100%;
}

ion-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-button {
  --background: #ffffff;
  --color: black;
  margin-left: 10px;
}

ion-modal {
  --height: 70%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --background: #ffffff;
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: #45b39d;
  --color: #ffffff;
}

ion-modal ion-item {
  --background: rgb(0 0 0 / 0.1);
  padding: 16px;
}

ion-modal ion-label {
  margin-bottom: 10px;
}

ion-datetime {
  margin-top: 10px;
}
