<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Acerca de </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Descripción del proyecto</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p id="descripcion">
        Esta aplicación está diseñada para asistir a los propietarios de
        mascotas en la gestión eficiente de las citas veterinarias. Ofrece la
        capacidad de registrar futuras visitas al veterinario, agregar nuevas
        mascotas y eliminar citas en caso de cancelación.
      </p>
      <p id="vistas">
        <strong>Funcionalidades:</strong><br />
        <strong>Vista General:</strong> Presenta una lista de las mascotas
        registradas junto con información general. Debajo de esta, se muestra un
        resumen de las próximas citas, organizadas por mascota.<br />
        <strong>Inicio:</strong> Muestra resúmenes breves de cada función
        principal de la aplicación, con botones que permiten acceder a ventanas
        donde se puede agregar mascotas y agregar o eliminar citas.<br />
        <strong>Acerca de:</strong> Proporciona información detallada sobre la
        aplicación y el equipo de desarrollo.
      </p>
      <p id="problema">
        <strong>Desafíos abordados:</strong><br />
        Los dueños de mascotas frecuentemente olvidan fechas importantes como
        vacunaciones, controles médicos o chequeos generales, lo que puede
        comprometer la salud de sus animales. Esta aplicación busca mitigar esos
        riesgos ofreciendo un sistema de gestión centralizado.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Equipo de desarrollo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p id="equipo">
        Ronald Jhon Gaibor Leon<br />
        Luis Alberto Luna Arana<br />
        Joel Josue Orrala Yugla
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
